/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 
  --cor-preta: black;
  --cor-branca: white;
  --cor-bg: #d9e9ff;
  --cor-bg-rodape: #1c315e;
  --cor-azul: #00f7ff;
  --cor-button: ;

  color: var(--cor-branca);
  background-color: var(--cor-bg);

  font-family: 'Space Grotesk', sans-serif;
  
}

/* Exemplo de aplicação local 
h1 {
  font-family: 'Oswald', sans-serif;
}
*/